h1{
    text-align: center;
    color: red;
    font-size: 45px;
}

ul {
    list-style: none;
    
}

a{
    text-decoration: none;
    color: blueviolet;
    transition: all 0.8s ease;
}

a:hover {
    text-decoration: underline;
    background-color: black;
    color: white;
}

img {
    display: block;
    margin: auto;
}

p{
    color: lightblue;
}